.navbar-inverse {
	border-radius: 0;
}

.clotheList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clotheList li {
	display: table;
	margin-bottom: 10px;
}

.clotheList li:after {
	content: '';
	clear: both;
	display: block;
}

.clotheList li a {
	display: table-cell;
	padding: 10px;
	border: 1px solid #cacaca;
}

.clotheList li .button-cell {
	display: table-cell;
	width: 150px;
	padding: 0 0 0 10px;
	vertical-align: top;
}

.clotheList li .wash-button {
	width: 150px;
	background: #d9edf7;
	border: none;
	height: 86px;
	padding: 0 10px;
}

.clotheList li .wash-button span {
	margin-left: 10px;
}

@media screen and (max-width: 480px) {
	.clotheList li .button-cell {
		width: auto;
	}
	.clotheList li .wash-button {
		width: auto;
	}
	.clotheList li .wash-button span {
		display: none;
	}
}