.navbar-inverse {
	border-radius: 0;
}

.clotheList {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clotheList li {
	margin-bottom: 10px;
}

.clotheList li:after {
	content: '';
	clear: both;
	display: block;
}

.clotheList li a {
	float: left;
	margin-right: 10px;
	padding: 10px;
	border: 1px solid #cacaca;
}

.clotheList li .wash-button {
	float: left;
	width: 150px;
	background: #ccc;
}